In [8]:
import pandas as pd

Investigating on status of startups and distribution of startups in different market sectors.
--How many startups are there for each status? How many startups are there for each sectors? Compare the distribution of each status in different sectors?

Introduction:
As the world's economy grows, the market demand for various goods remain high which tiggers grows of starup firms in different industries. The best way to get started on study the startup market is to investigate on distribution of startup's status and categories. In this project, I'll use these datesets to analyze the distribution of each status of startups in the market and compare the distribution of each status in different categories. The independent variable Xs include STATUS and CATEGORY, and the dependent variable Y is the number of startups. Specifically, the status of startups are closed, acquired, IPO, and operating. The category is a variable that contain 42 categories of the market. With the understanding of market distribution, economists can make further prediction on growing trend of startup firms. 

There are 11 tables that contain information about characterstics of startup companies, including company type, company news, IPOs, funding rounds and etc, and the data is downloaded from kaggle notebook with the url https://www.kaggle.com/justinas/startup-investments.

In [17]:
df = pd.read_csv("objects.csv")
pd.DataFrame(df)

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,NaN,0.0,0.0,NaN,NaN,0.0,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,NaN,0.0,0.0,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9396,c:14399,Company,14399,NaN,The Bid Zone,the bid zone,/company/the-bid-zone,web,operating,2008-10-23,...,NaN,0.0,0.0,NaN,NaN,0.0,3.0,NaN,2008-12-01 02:51:16,2013-03-29 08:41:29
9397,c:143990,Company,143990,NaN,Spoolios,spoolios,/company/spoolios,games_video,operating,2010-01-01,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,spoolios,2011-12-08 06:28:51,2011-12-15 19:51:58
9398,c:143991,Company,143991,NaN,Investorsforumindia,investorsforumindia,/company/investorsforumindia,other,operating,2011-01-10,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,investorforumindia,2011-12-08 06:37:45,2011-12-15 19:53:05
9399,c:143992,Company,143992,NaN,Nichia,nichia,/company/nichia,NaN,operating,NaN,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011-12-08 06:40:16,2011-12-15 19:53:32
9400,c:143993,Company,143993,NaN,FKK Corporation,fkk,/company/fkk-corporation,hardware,operating,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN